pkgbase = lildisc-git
	pkgdesc = Small native Discord client for Linux, in GTK4
	pkgver = 2026.09.26.3.r13.gdaeebb8
	pkgrel = 1
	url = https://github.com/vomitselfie/Lil-Disc
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = go
	makedepends = git
	depends = glib2
	depends = gtk4
	depends = libadwaita
	depends = gtksourceview5
	depends = libspelling
	depends = gstreamer
	depends = gst-plugins-base
	depends = gst-plugins-good
	optdepends = gst-libav: play most videos and voice messages (AAC, H.264)
	optdepends = gst-plugins-bad: more video formats
	optdepends = mpv: play videos from streaming sites
	optdepends = yt-dlp: resolve streaming-site video links
	optdepends = libsecret: remember your login in the system keyring
	provides = lildisc
	conflicts = lildisc
	source = lildisc::git+https://github.com/vomitselfie/Lil-Disc.git
	sha256sums = SKIP

pkgname = lildisc-git
